@{
    ViewBag.Title = "About";
}
<h2>Our Mission</h2>
<p>
    Recognising, appreciating, awarding and empowering Africa based Apps, developers and communities.
</p>
@*<h3>Our Vission</h3>
    <p>
        Achieving a higher
    </p>*@
<h6>Social Media Summit App&copy; is a product of MISA Services Inc.&trade;</h6>

