@{
    ViewBag.Title = "Contact Us";
}
<h2>Contact us: </h2>
<address>
    <p class="glyphicon glyphicon-phone-alt">
        <strong>Phone Numbers: </strong>
        <ul>
            <li>256 772 041288</li>
            <li>256 701 411064</li>
            <li>256 757 513391 </li>
        </ul>
    </p>

    <p class="glyphicon glyphicon-envelope"><strong> Emails: </strong></p>
    <p class="body-content">
        <strong>Marketing:</strong> Andrew Johnson - <a href="mailto:ap.johnson@outlook.com">ap.johnson@outlook.com</a><br />
        <strong>Developer:</strong> Anthony Kalanda - <a href="mailto:anthonykalanda@gmail.com">anthonykalanda@gmail.com</a><br />
    </p>

</address>