@{
    ViewBag.Title = "Home Page";
}
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/slides/speke-resort-munyonyo-entrance.jpg" alt="speke entrance" class="img-responsive">
            <div class="container">
                <div class="carousel-caption">
                    <p>
                        Speke Resort Munyonyo
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/slides/dining-lake-terrace-speke-resort.jpg" alt="lake terrace" class="img-responsive">
            <div class="container">
                <div class="carousel-caption">
                    <p>
                        Dining terrace
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/slides/lake-terrace-speke-resort.jpg" alt="speke terrace" class="img-responsive">
        </div>
        <div class="item">
            <img src="~/slides/speke-resort-munyonyo-birds-view.jpg" alt="Birds view" class="img-responsive">
            <div class="container">
                <div class="carousel-caption">
                    <p>
                        Bird's view
                        <a class="btn btn-default btn-default" href="http://www.spekeresort.com">
                            See website
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<br/>

<div class="row">
    <div class="col-md-4">
        <h2>Our Purpose</h2>
        <p>
            This the first ever summit to award <strong>utility</strong> and <strong>Social </strong>apps built in Africa. Doesn't matter who, it's where!. We seek to award Apps built in Africa for the World.<br />
            Simply <b> @Html.ActionLink("sign up", "Create", "SignUp") </b> to become take part in this Annual event.
        </p>

    </div>
    <div class="col-md-4">
        <h2>Our Sponsors</h2>
        <p><img src="~/images/google logo.jpg" alt="Google logo" /></p>
        <p><img src="~/images/ms logo.png" alt="Microsoft logo" /></p>
        <p><img src="~/images/speke-resort-Logo.png" alt="Speke resort logo" class="img-rounded" /></p>
        <p><img/> </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866"></a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Venue</h2>
        <p>
        Speke Resort Munyonyo<br/>
        <img src="~/slides/speke-resort-munyonyo-entrance.jpg" width="300" height="113" alt="speke resort logo" class="img-rounded"/>
        <p>

            <a class="btn btn-primary" href="http://www.spekeresort.com">Speke Resort</a> &nbsp;
        </p>
    </div>
</div>